
@font-face {
  font-family: 'Barlow Condensed';
  src: url(../../../assets/fonts/BarlowCondensed.woff2) format("woff2");
//  font-weight: 800;
//   font-style: normal;
}
@font-face {
  font-family: Termina-Bold;
  src: url(../../../assets/fonts/termina-bold.woff2) format("woff2");     
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Barlow-lt;
  src: url(../../../assets/fonts/Barlow-lt.woff2) format("woff2");     
  font-weight: 600;
  font-style: normal;
}