<!-- <div>
  <div class="d-flex justify-content-center mb-5">
    <img class="mr-3" src="{{rendering.fields.linkedIn.value.src}}" alt="{{rendering.fields.linkedIn.value.alt}}" />
    <img class="mr-3" src="{{rendering.fields.facebook.value.src}}" alt="{{rendering.fields.facebook.value.alt}}" />
    <img class="mr-3" src="{{rendering.fields.twitter.value.src}}" alt="{{rendering.fields.twitter.value.alt}}" />
    <img class="mr-3" src="{{rendering.fields.instagram.value.src}}" alt="{{rendering.fields.instagram.value.alt}}" />
  </div>
  <div *scText="rendering.fields.copyRight" class="text-center"></div>
</div> -->
<div *ngIf="query$ | async as queryResult">
  <div class="d-flex justify-content-center mb-5">
    <img class="mr-3" src="{{queryResult.data.item.linkedIn.src}}" alt="{{queryResult.data.item.linkedIn.alt}}" />
    <img class="mr-3" src="{{queryResult.data.item.facebook.src}}" alt="{{queryResult.data.item.facebook.alt}}" />
    <img class="mr-3" src="{{queryResult.data.item.twitter.src}}" alt="{{queryResult.data.item.twitter.alt}}" />
    <img class="mr-3" src="{{queryResult.data.item.instagram.src}}" alt="{{queryResult.data.item.instagram.alt}}" />
  </div>
  <div *scText="queryResult.data.item.copyRight" class="text-center"></div>
</div>