<div>
  socialmedia JSS Component
 
  <img src="{{rendering.fields.linkedIn.value.src}}" alt="{{rendering.fields.linkedIn.value.alt}}" />
  <img src="{{rendering.fields.facebook.value.src}}" alt="{{rendering.fields.facebook.value.alt}}" />
  <img src="{{rendering.fields.instagram.value.src}}" alt="{{rendering.fields.instagram.value.alt}}" />
  <img src="{{rendering.fields.twitter.value.src}}" alt="{{rendering.fields.twitter.value.alt}}" />
  <div *scText="rendering.fields.copyRight"></div>
</div>
