<!-- <div class="row">
    <div class="col-3">
        <app-thumbnail></app-thumbnail>
    </div>
    <div class="col-3">
        <app-thumbnail></app-thumbnail>
    </div>
    <div class="col-3">
        <app-thumbnail></app-thumbnail>
    </div>
    <div class="col-3">
        <app-thumbnail></app-thumbnail>
    </div>
</div> -->
<div class="row">
    <div class="col-3"   *ngFor="let thumbnaildata of a">
    <app-thumbnail [data]="thumbnaildata"></app-thumbnail>
    </div>
 </div>
 <div class="row">
      <div class="col-3"   *ngFor="let sample of thumbnaildatalist; let i index">
          
        <app-thumbnail [data]="sample"></app-thumbnail>
       
    </div> 
 </div>
