<!-- <app-header></app-header> -->
<div class="container">
  <ng-container *ngIf="state === LayoutState.Layout">
    <app-visitor-identification></app-visitor-identification>
      <div class="headerbg" style="background-color: #1b2430;">
      <sc-placeholder name="jss-nav" [rendering]="route" (loaded)="onPlaceholderLoaded($event)"></sc-placeholder>    
      </div>
      <div class="headerbgsub" style="background-color: #2c3dbe;">
        <sc-placeholder name="jss-subnav" [rendering]="route" (loaded)="onPlaceholderLoaded($event)"></sc-placeholder>
      </div>
    <sc-placeholder name="jss-main" [rendering]="route" (loaded)="onPlaceholderLoaded($event)"></sc-placeholder>
  </ng-container>

  <app-not-found *ngIf="state === LayoutState.NotFound" [errorContextData]="errorContextData"></app-not-found>
  <app-server-error *ngIf="state === LayoutState.Error"></app-server-error>
</div>
