@import '../base/typography';
@import '../abstract/variables';
.article-detail-section{
    .article-detail-header{
        width: 50%;
        margin: 0 auto;
    }
    .section-title{
            margin-bottom: 24px;
        }
    .author-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: #353b3e;
        margin-top: 0;
        margin-bottom: 24px;
    }
    .author-profile-image{
        position: relative;
        .star-icon{
            position: absolute;
            right: 16px;
            bottom: 0;
            width: 16px;
        }
    }
    .author-profile-picture{
    display: block;
    border-radius: 50%;
    height: auto;
    margin-right: 16px;
    width: 2.5rem;

    }
    .author-name{
        font-size: 14px;
        line-height: 1.8rem;
        min-height: 1.8rem;
        font-weight: 600;
        font-family: Barlow,Arial,sans-serif;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        color: #29394b;
        margin-right: 8px;
        .name{
            margin: 0 8px 0 0;
        }
        .date{
            position: relative;
            margin: 0 0 0 8px;
            &::before{
                content: "|";
                position: absolute;
                left: -9px;
                top: -1px;
            }
        }
    }
    .article-detail-bannerimage{
        display: flex;
        justify-content: center;
        flex-direction: column;
        img{
            max-width: 100%;
            margin: 0 auto;
        }
        .image-caption{
            width: 60%;
            text-transform: uppercase;
            margin: 16px auto 0;
            font-size: 12px;
        }
    }
    .article-detail-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        
        .share-link{
            color: #29394b;
            font-weight: 600;
            font-family: Barlow,Arial,sans-serif;
            font-size: 14px;
            margin: 24px 0;
            text-transform: uppercase;
            letter-spacing: -.5px;       
            display: flex;
            align-items: center;     
            .share-icon{
                width: 20px;
                height: 20px;
                margin-right: 5px;
                background-image: url('../../images/share-icon.PNG');
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-flex;
            }
        }
        .bold-text{
            color: #29394b;
            font-weight: 600;
            font-family: Barlow,Arial,sans-serif;
            font-size: 20px;
            margin-bottom: 24px;
        }
        .normal-text{
            color: #29394b;
            font-weight: 600;
            font-family: Barlow-lt,Arial,sans-serif;
            font-size: 16px;
            margin-bottom: 24px;
            a{
               text-decoration: underline;
                color: #2c3dbe;
                text-underline-position: under;
            }
        }
    }
}


.article-detail-footer{
    width: 60%;
    margin: 40px auto;
        .footer-title{
            font-size: 14px;
            font-weight: bold;
            font-family: Barlow,Arial,sans-serif;
            margin-bottom: 16px;
        }
        .footer-description{
            font-size: 14px;
            font-family: Barlow-lt, Arial, sans-serif;
            color: rgb(27 36 48 / 70%);
            margin-bottom: 10px;
            a{
                text-decoration: underline;
                text-underline-position: under;
                color: #2c3dbe;
            }
        }
    }
    


