/*Base Colors*/
$white: #fff;
$black: #000;

/*Golbal Colors*/
$offblack: #1B2430;
$darkgrey: #29394B;
$mediumgrey: #D8D8D8;
$lightgrey: #E9E9E9;
$verylightgrey: #F3F3F3;
$disabledgrey: #A4A8AD;

/*Carrier Colors*/
$royalblue: #5366D8;
$peacockblue: #2C3DBE;
$mediumblue: #202F8B;
$darkblue: #0F1746;

/*Learning Colors*/
$steelblue: #5087B4;
$mediumsteelblue: #375F80;
$midnightblue: #01223C;

/*Magazine Colors*/
$mintgreen: #C2E0DC;
$mediumgreen: #ABCEC9;
$mossgreen: #497670;
$darkgreen: #345652;

/*Community Colors*/
$lightyellow: #FFEC92;
$mediumyellow: #FFD616;
$mustardyellow: #E3BB00;


