<div class="d-flex justify-space-between featurelist">
  <div class="d-flex flex-column w-100">
    <a href="{{rendering.fields.aboutAirsideLink.value.href}}">{{rendering.fields.aboutAirsideText.value}}</a>
    <a href="{{rendering.fields.contactUsLink.value.href}}">{{rendering.fields.contactUsText.value}}</a>
    <a href="{{rendering.fields.tersmOfUseLink.value.href}}">{{rendering.fields.termsOfUseText.value}}</a>
  </div>
  <div class="d-flex flex-column w-100">
    <a href="{{rendering.fields.privacyPolicyLink.value.href}}">{{rendering.fields.privacyPolicyText.value}}</a>
    <a href="{{rendering.fields.cookiePolicyLink.value.href}}">{{rendering.fields.cookiePolicyText.value}}</a>
    <a href="{{rendering.fields.cookieSettingLink.value.href}}">{{rendering.fields.cookieSettingText.value}}</a>
  </div>
</div>