<div>
  jobBanner JSS Component
  <div *scText="rendering.fields.jobTitle"></div>
  <div *scText="rendering.fields.postedTime"></div>
  <div *scText="rendering.fields.employer"></div>
  <div *scText="rendering.fields.country"></div>
  <div *scText="rendering.fields.savetoFavorites"></div>
  <div *scText="rendering.fields.jobReferenceLabel"></div>
    <div *scText="rendering.fields.jobReferenceValue"></div>
      <div *scText="rendering.fields.locatonLabel"></div>
        <div *scText="rendering.fields.locationeValue"></div>
          <div *scText="rendering.fields.jobTypeLabel"></div>
            <div *scText="rendering.fields.country"></div>
              <div *scRichText="rendering.fields.minimumRequirementsValue"></div>
              <div *scRichText="rendering.fields.jobDescriptionValue"></div>
              
</div>
