<app-header></app-header>
<section class="container article-detail-section">
    <div class="article-detail-header">
    <div class="tags">
        <span class="tag-primary community">
            Community
        </span>
        <span class="tag-secondary community">
            Contribution
        </span>
        <span class="timer">5 MIN <img src="../../../assets/images/waiting-icon.PNG" alt="reading-time"/></span>
    </div>
    <h2 class="section-title">Planning for a world beyond covid</h2>
    <div class="author-wrapper">
        <div class="author-profile-image">
        <img class="author-profile-picture"
            src="https://images.ctfassets.net/2w2mlgch5gta/2sWmAfS2vZ8c61DYSeL8aG/52f3d34c5a15603eeeffe93db62572c3/MM_pic.jpg?fm=webp&amp;q=75&amp;w=25&amp;h=25&amp;fit=fill"
            alt="Murdo Morrison "/>       
        </div>
        <!---->
        <h3 class="author-name"><span class="name"> by <b>Murdo Morrison</b></span><span class="date">March 3 2021</span></h3>
    </div>
    </div>
    <div class="article-detail-bannerimage">
        <img src="https://images.ctfassets.net/2w2mlgch5gta/6bY0DuvSGCnurkNzSoGAkt/0e0e83dbcdd3f9fd04458e68df236055/_0159364.jpg.png?fm=jpg&fl=progressive&w=707" alt="" />
        <span class="image-caption">Photo: Grew Angerer/Getty Images</span>
    </div>
    <div class="article-detail-content">
        <a href="javascript:void(0)" class="share-link"><span class="share-icon"></span><span>Share Article</span></a>
        <p class="bold-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of the early 1970s, about 30%
        of pilots were unemployed.</p>
        <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of the early 1970s, about
            30%
            of pilots were unemployed.</p>
            <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory flying skills that are
            transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to specific
            aircraft then help them maintain those skills. <a href="javascript:void(0)">Once you join an airline, career development and resilience are your</a>
            responsibilities.</p>
            <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of the
                early 1970s, about
                30%
                of pilots were unemployed.</p>
            <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory flying
                skills that are
                transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
                specific
                aircraft then help them maintain those skills. Once you join an airline, career development and resilience are your
                responsibilities.</p>
                <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of the
                    early 1970s, about
                    30%
                    of pilots were unemployed.</p>
                <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory flying
                    skills that are
                    transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
                    specific
                    aircraft then help them maintain those skills. Once you join an airline, career development and resilience are your
                    responsibilities.</p>
                    <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of the
                        early 1970s, about
                        30%
                        of pilots were unemployed.</p>
                    <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory flying
                        skills that are
                        transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
                        specific
                        aircraft then help them maintain those skills. Once you join an airline, career development and resilience are your
                        responsibilities.</p>
                        <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of the
                            early 1970s, about
                            30%
                            of pilots were unemployed.</p>
                        <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory flying
                            skills that are
                            transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
                            specific
                            aircraft then help them maintain those skills. Once you join an airline, career development and resilience are your
                            responsibilities.</p>
    </div>
    <div class="article-detail-bannerimage">
        <img src="https://images.ctfassets.net/2w2mlgch5gta/6bY0DuvSGCnurkNzSoGAkt/0e0e83dbcdd3f9fd04458e68df236055/_0159364.jpg.png?fm=jpg&fl=progressive&w=707"
            alt="" />
        <span class="image-caption"></span>
    </div>
    <div class="article-detail-content">
        <a href="javascript:void(0)" class="share-link"><img src="" alt="" /><span>Share Article</span></a>
        <p class="bold-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of the
            early 1970s, about 30%
            of pilots were unemployed.</p>
        <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of
            the early 1970s, about
            30%
            of pilots were unemployed.</p>
        <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory
            flying skills that are
            transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
            specific
            aircraft then help them maintain those skills. Once you join an airline, career development and resilience are
            your
            responsibilities.</p>
        <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of
            the
            early 1970s, about
            30%
            of pilots were unemployed.</p>
        <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory
            flying
            skills that are
            transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
            specific
            aircraft then help them maintain those skills. Once you join an airline, career development and resilience are
            your
            responsibilities.</p>
        <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of
            the
            early 1970s, about
            30%
            of pilots were unemployed.</p>
        <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory
            flying
            skills that are
            transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
            specific
            aircraft then help them maintain those skills. Once you join an airline, career development and resilience are
            your
            responsibilities.</p>
        <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of
            the
            early 1970s, about
            30%
            of pilots were unemployed.</p>
        <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory
            flying
            skills that are
            transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
            specific
            aircraft then help them maintain those skills. Once you join an airline, career development and resilience are
            your
            responsibilities.</p>
        <p class="normal-text">In my early teens, I initially wanted to join an airline.&nbsp;However, in the recession of
            the
            early 1970s, about
            30%
            of pilots were unemployed.</p>
        <p class="normal-text">Airline jobs are just that. They are employment opportunities for people with satisfactory
            flying
            skills that are
            transferrable to other airlines worldwide. Airlines do not teach people to fly, they convert licensed pilots to
            specific
            aircraft then help them maintain those skills. Once you join an airline, career development and resilience are
            your
            responsibilities.</p>
    </div>
    <div class="article-detail-footer">
        <h5 class="footer-title">Sources</h5>
        <p class="footer-description">Article "Airbus A300: The plane that launched an empire" on <a href="javascript:void(0)">www.edition.cnn.com</a> </p>
        <p class="footer-description">Article "Airbus A300: The plane that launched an empire" on <a href="javascript:void(0)">www.edition.cnn.com</a> </p>
        <p class="footer-description">Article "Airbus A300: The plane that launched an empire" on <a href="javascript:void(0)">www.edition.cnn.com</a> </p>
    </div>
</section>
<app-featured></app-featured>
        
<div class="row ">    
    <div class="col-4">
        <app-thumbnail></app-thumbnail>
    </div>
    <div class="col-5 horizontal">
        <app-thumbnail></app-thumbnail>
    </div>    
</div>



