<section class="promo vertical">
    <div class="promo-content">
        <h3 class="promo-content-title">Lorem ipsum dolor sit amet consectetur</h3>
        <p class="promo-content-bodyText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis nisi amet cum tempore, at tenetur reiciendis quae voluptate quia non, maxime labore molestias deleniti iste natus tempora dolorem ex.</p>
    </div>
    <div class="promo-btn">
        <button class="btn btn-primary"> Become a beta tester </button>
    </div>
</section>
